
// Customizations to base bootstrap styles

.container {
    margin: auto;
    width: auto;
    max-width: 900px;
}

#topbar {
    background-color: #303030;
    position: relative;
    color: #fffaea;
    font-family: "Quire Sans", "Source Sans", sans-serif;
    font-weight: normal;
}

#topbar ul {
    padding: 0;
    margin: 8px;
}

#topbar li {
    padding: 0;
    position: relative;
    display: inline-block;
    list-style: none;
}

#topbar a {
    position: relative;
    display: inline-block;
    padding: 3px 15px;
    color: #fffaea;
    font-weight: normal;
    font-size: 10pt;
}

#footer {
    width: auto;
    margin: 10px;
}

pre {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 20px;
    font-family: "Source Code Pro", "monospace";
    font-weight: light;
    font-size: 10pt;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

code {
    font-family: "Source Code Pro", "monospace";
    font-size: 10pt;
    background-color: #f5f5f5;
    color: inherit;
}

.output {
    background-color: #fafafa;
    border: 1px solid #f1f1f5;
    margin: 0.5em 2.5em;
}

img {
    padding: 10px;
}

h1 {
    padding-top: 0.75em;
    margin-bottom: 1.0pt;
    font-size: 18pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 11pt;
}

h1, h2, h3, h4, h5 {
    margin-top: 1.5em;
    margin-bottom: 8.0pt;
    color: #333;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #504545;
}

body {
    text-rendering: optimizeLegibility;
    font-family: "Quire Sans", "Source Sans Pro", sans-serif;
    font-size: 11.5pt;
    color: #333;
    background-color: #fafafa;
    position: relative;
}

a:hover {
    text-decoration: underline;
}

a {
    font-weight: bold;
    color: #444;
}

.muted {
    color: #666;
    font-size: 9pt;
}

#body-content {
    margin-top: 1em;
}

#table-of-contents {
    position: fixed;
    background-color: #f6f6f8;
    width: 100%;
    height: 100%;
    top: 0;
    /*border-left: 1px solid #f0f0f0;*/
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    /*font-style: italic;*/
}

#table-of-contents-content {
    width: 300px;
    position: fixed;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 110px;
    padding-bottom: 40px;
    position: absolute;
}

#title-block {
    background-color: #303030;
    padding-bottom: 1em;
    padding-right: 1em;
    text-align: right;
}

#title-block h1 {
    color: #f4e6d6;
    font-size: 16pt;
    font-weight: normal;
}

#table-of-contents input {
    font-style: normal;
}

#table-of-contents ul {
  list-style: none;
  padding: 0;
  padding-left: 1em;
  line-height: 110%;
}

#table-of-contents > li {
  position: relative;
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

ul.nav > li > a.toc-item {
    font-weight: normal;
    display: block;
    color: #435C71;
    padding: 5px 0px;
}

#table-of-contents li a:hover,
#table-of-contents li a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.toc-part {
    font-size: 14pt;
    color: #4F7C9C;
}

.toc-current-doc a {
    font-family: "Quire Sans", "Source Sans Pro", sans-serif;
    font-weight: bold;
    display: block;
    color: #435C71;
}

#pkgname {
    font-size: 12pt;
}

.api-doc ul {
    padding-left: 1em;
    list-style: none;
}

div.judo-result {
    margin: 20px;
    /*background-color: #303030;*/
    text-align: center;
    padding: 10px;
    margin-bottom: 1em;
}

pre + div.judo-result {
    margin-top: -1em;
}


input {
    border: 0;
    outline: 0;
    background: transparent;
    margin: 1em;
}

input:focus {
    border: 0;
    outline: 0;
}

