
// Customizations to base bootstrap styles

.container {
    margin: auto;
    width: auto;
    max-width: 900px;
}

#topbar {
    background-color: #333;
    position: relative;
    color: white;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

#topbar ul {
    padding: 0;
    margin: 8px;
}

#topbar li {
    padding: 0;
    position: relative;
    display: inline-block;
    list-style: none;
}

#topbar a {
    position: relative;
    display: inline-block;
    padding: 3px 15px;
    color: white;
    font-weight: normal;
    font-size: 10pt;
}

#footer {
    width: auto;
    margin: 10px;
}

pre {
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: inherit;
    color: inherit;
    margin: 0.5em 1.5em;
    font-family: "Source Code Pro", "monospace";
    font-size: 9pt;
}

code {
    font-family: "Source Code Pro", "monospace";
    font-size: 9pt;
    background-color: #f5f5f5;
    color: inherit;
}

.output {
    background-color: #fafafa;
    border: 1px solid #f1f1f5;
    margin: 0.5em 2.5em;
}

img {
    padding: 10px;
}

h1 {
    padding-top: 0.75em;
    margin-bottom: 1.0pt;
    font-size: 18pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}

h4 {
    font-size: 11pt;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 1.0pt;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: #504545;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #504545;
}

body {
    font-family: "Source Sans Pro", "sans-serif";
    font-size: 10.5pt;
    background-color: #fff;
}

a:hover {
    text-decoration: underline;
}

a {
    font-weight: bolder;
    color: #444;
}

.muted {
    color: #666;
    font-size: 9pt;
}

#body-content {
    background-color: #fff;
}

#table-of-contents {
    position: fixed;
    background-color: #f6f6f8;
    width: 100%;
    height: 100%;
    top: 0;
    border-left: 1px solid #f0f0f0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
}

#table-of-contents-content {
    width: 300px;
    position: fixed;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 110px;
    padding-bottom: 40px;
    position: absolute;
}

#title-block {
    padding-bottom: 1em;
    text-align: right;
}

#title-block h1 {
    font-size: 16pt;
    font-weight: bolder;
}

#table-of-contents ul {
  list-style: none;
  padding: 0;
  padding-left: 1em;
}

#table-of-contents > li {
  position: relative;
  display: block;
}

#table-of-contents li > a {
    font-weight: normal;
    display: block;
    color: #435C71;
}

#table-of-contents li a:hover,
#table-of-contents li a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.toc-part {
    font-size: 14pt;
    color: #4F7C9C;
}

.toc-current-doc a {
    font-weight: bolder;
    display: block;
    color: #435C71;
}

#pkgname {
    font-size: 12pt;
}

.api-doc ul {
    padding-left: 1em;
    list-style: none;
}



