
// Tweaks to boostrap for the Gadfly documentation

.container-fluid {
    margin: auto;
    width: auto;
    max-width: 900px;
}

body {
    font-family: "Source Sans Pro";
    font-weight: lighter;
}

h1, h2, h3, h4, h5 {
    font-family: "Raleway";
    font-weight: darker;
}

h2 {
    padding-top: 0.75em;
}

code {
    font-family: "Source Code Pro";
}

img {
    display: block;
    position: relative;
    margin: auto;
}

object {
    display: block;
    position: relative;
    margin: auto;
}

figure {
    padding: 0 0;
    margin: 0 0;
}

figcaption {
    text-align: center;
}

#footer {
    width: auto;
    margin: 10px;
}

// Don't color headings that link to TOC.
h1 a { color: #333; }
h1 a:visited { color: #333; }
h2 a { color: #333; }
h2 a:visited { color: #333; }
h3 a { color: #333; }
h3 a:visited { color: #333; }
h4 a { color: #333; }
h4 a:visited { color: #333; }
h5 a { color: #333; }
h5 a:visited { color: #333; }

