
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=815a94a5-0cda-4340-be03-b9e7cadb022a");
@font-face{
font-family:"Quire Sans";
src:url("fonts/3f336c40-b8f6-4978-8bbf-b1f5b3e8977f.eot?#iefix");
src:url("fonts/3f336c40-b8f6-4978-8bbf-b1f5b3e8977f.eot?#iefix") format("eot"),url("fonts/48b1f64a-1766-4227-a4f9-78ef33e1a83c.woff") format("woff"),url("fonts/58347d6a-47e8-41a1-b858-fe325658bde4.ttf") format("truetype"),url("fonts/fece890d-cb22-4ba1-b9fc-effc3906fa69.svg#fece890d-cb22-4ba1-b9fc-effc3906fa69") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family:"Quire Sans";
src:url("fonts/933c8e16-27c7-4520-bd18-7cce119d34d7.eot?#iefix");
src:url("fonts/933c8e16-27c7-4520-bd18-7cce119d34d7.eot?#iefix") format("eot"),url("fonts/702f3fc5-1a11-4aa2-8651-a4a4434030ae.woff") format("woff"),url("fonts/581aaf15-8a6f-4fb2-8fd6-a69f51f0faca.ttf") format("truetype"),url("fonts/5e9a168a-7047-4a0e-aec6-c02b1d6c8a47.svg#5e9a168a-7047-4a0e-aec6-c02b1d6c8a47") format("svg");
font-weight: bold;
font-style: italic;
}
@font-face{
font-family:"Quire Sans";
src:url("fonts/918e2d8a-7943-42db-a06e-42028904e327.eot?#iefix");
src:url("fonts/918e2d8a-7943-42db-a06e-42028904e327.eot?#iefix") format("eot"),url("fonts/5d3ff9a5-eb33-4dd7-a7dc-3e530f613c49.woff") format("woff"),url("fonts/5b3b150b-d2e8-40ba-8267-d3759a99f225.ttf") format("truetype"),url("fonts/1d019db3-8dc6-459e-8971-0e95e661b0f9.svg#1d019db3-8dc6-459e-8971-0e95e661b0f9") format("svg");
font-weight: bold;
font-style: normal;
}
@font-face{
font-family:"Quire Sans";
src:url("fonts/667b6ea5-7ef0-4bdb-8c5f-89296b9ec50d.eot?#iefix");
src:url("fonts/667b6ea5-7ef0-4bdb-8c5f-89296b9ec50d.eot?#iefix") format("eot"),url("fonts/595d9d9b-c2bd-461e-9aa1-04af6066651b.woff") format("woff"),url("fonts/f3410fca-bc64-469b-b04f-7bbf4eefe1d1.ttf") format("truetype"),url("fonts/7af84c5d-2761-48a4-a1a4-10f492026f74.svg#7af84c5d-2761-48a4-a1a4-10f492026f74") format("svg");
font-weight: normal;
font-style: italic;
}


@font-face{
font-family:"PMN Caecilia";
font-weight: bold;
src:url("Fonts/9bd4aa31-b713-46ea-98be-4ee7144485d3.eot?#iefix");
src:url("Fonts/9bd4aa31-b713-46ea-98be-4ee7144485d3.eot?#iefix") format("eot"),url("Fonts/c8018977-bfbd-4a76-a48d-fa0be4da75ef.woff") format("woff"),url("Fonts/1f750230-9c70-43f4-ae5c-e8d00c419fda.ttf") format("truetype"),url("Fonts/0006ae28-8833-490d-82c5-b4f373a137c5.svg#0006ae28-8833-490d-82c5-b4f373a137c5") format("svg");

}

