/* Loosely based on pygment's default colors */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
pre.sourceCode { }
code.sourceCode span.kw { color: #81a2be; font-weight: bold; } // keywords
code.sourceCode span.dt { color: #c5c8c6; }
code.sourceCode span.dv { color: #c5c8c6; }
code.sourceCode span.bn { color: #c5c8c6; }
code.sourceCode span.fl { color: #f0c674; } // numbers
code.sourceCode span.ch { color: #c5c8c6; }
code.sourceCode span.st { color: #f0c674; } // strings
code.sourceCode span.co { color: red; }
code.sourceCode span.ot { color: #c5c8c6; }
code.sourceCode span.al { color: red; font-weight: bold; }
code.sourceCode span.fu { color: #81a2be; }
code.sourceCode span.re { }
code.sourceCode span.er { color: red; font-weight: bold; }
